/* arka plan kod başlangıcı */ 
body {
  background-image: url("Resimler/wallpaperflare\,com_wallpaper\ \(9\)-photoaidcom-darken.jpg"); /* Başlangıçta kullanılacak resim */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
    animation-name: slideBackground;
  animation-duration: 90s; /* Slayt geçiş süresini buradan ayarlayabilirsiniz */
 /*animation-timing-function: linear;*/  /* Animasyon eğrisini linear olarak değiştirin */
  animation-iteration-count: infinite;
  opacity: 0.9;
}

@keyframes slideBackground {
  0%, 5% {
    background-image: url("Resimler/wallpaperflare\,com_wallpaper\ \(9\)-photoaidcom-darken.jpg");
  }
  10%, 25% {
    background-image: url("Resimler/arkaplan5.jpg");
  }
  30%, 45% {
    background-image: url("Resimler/arkaplan3.jpg");
  }
  50%, 65% {
    background-image: url("Resimler/arkaplan6-photoaidcom-darken.jpg");
  }
  70%, 100% {
    background-image: url("Resimler/arkaplan5.jpg");
  }
}

/* arka plan kod bitişi */ 

 /* tüm elemanların margin padding sıfır yaparız  kenar boşluğu ve aradaki boşlukları 0 yaparız  */ 
*{
  margin: 0px;
  padding: 0px; 
  box-sizing: border-box; /* tasarımı daha rahat yapmamızı sağlar öğenin boyutu içeriği, padding ve border ile birlikte hesaplanır.   */ 
}



.nav-links li{
  list-style: none;  /*liste tarzını kaldırır  */ 
}



/* menu kod başlangıcı */ 
nav{
  display: flex; /* yan yana yazma */ 
  justify-content: space-around; /* aralarında boşluk bırakır  */ 
  align-items: center ;/* yukardan aşadan boşluk bırakır */ 
  height: 13vh; /* yükseklik */ 
  background: gray;
  color: #eee;

}

.nav-logo{ 
  font-size: 22px; /* sola yazdığımız hoş geldiniz yasının boyutu  */ 
  text-transform: uppercase; /* hepsinin büyük harfle yazılmasın sağlar  */ 
  letter-spacing: 3px; /* yazılar arası boşluk */ 
  font-weight: bol; /* kalın yazarız */ 
}

.nav-links{
  display: flex; /* yan yana dizilme */ 
  justify-content: space-around; /* aralara boşluk bırakmak için aşadaki width ile de ayaralrız */ 
  width: 45%;

}

.nav-links a{
  color: #eee;
  font-size: 14px;
  letter-spacing: 0.5px; /* kelimeler arası boşluk  */ 
  text-decoration: none; /* altaki yazı yı kaldırır */ 
  transition: color 0.3s ease; /* Geçiş efekti */


}
.nav-links a:hover {
  color:cyan ;
}

.burger{
  display: none; /* kaybolup gelmesini sağlar */ 
  cursor: pointer; /* üstüne glince maouse icon değişir */ 
  color: #eee; 
}


.burger .line1,
.burger .line2,
.burger .line3{ /*  3 tane çizgimizi bir arada css atıyoruz */ 
  width: 24px;
  height: 3px;
  background-color: #eee;
  transition: .3s ease;
}
.burger .line2{
  margin: 3px 0px;
}

@media screen and (max-width: 1200px){  /* 768 pixcelden kçük olunca görünür olur 3 çizgi burger deriz*/
  body{
    overflow-x: hidden; /* soldan sağa doğru  hareketi kapattık burger menu gözükmesin diye */  
  }

  .burger{
    display: block; /* görünür hale getirirz */ 
  }

  .nav-links{
    position: absolute; 
    top: 13vh;
    right: 0;
    width: 60%;
    height: 40vh;
    display: flex;
    flex-direction: column; /*yukardan aşağı doğru yaparız  normalde düz  */ 
    background: gray;
    align-items: center ; /* ortaladık */ 
    justify-content: space-around; /*boşluklarla sıralarız  */
    transform: translateX(100%); /* en sağa gönderdik */ 
    transition: .5s ease; /* menünü geçişi için olan süre */ 
  }

  .nav-links li{  /* aktif değilken görünürlük sıfır */ 
    opacity: 0;
  }
}

.nav-active{
  transform: translateX(0); /* menünün sola getirmeyi sağlar 100 den sıfıra çekeriz yukarda 100 idi */ 
}

.close .line1{
  transform: rotate(-45deg) translate(-5px,3px);
  transition: .3s ease;  /* 1. çizgiye değerler verdik çarpı oluşması için */ 
}

.close .line2{
  opacity: 0; /* ortadaki kaybolur */
}

.close .line3{
  transform: rotate(45deg) translate(-5px,-3px);
  transition: .3s ease;  /* 3. çizgiye değerler verdik çarpı oluşması için */ 
}




@keyframes linksFade { /* belli pixsel aralıklarında görünürlük ayalarız js dede kullandık  */ 
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}


/* menu kod bitişi */ 

.boşluk{
  width: 100%;
  height: 250px;

}
.boşlukkısa{
  width: 100%;
  height: 100px;

}
.boşlukkısakısa{
  width: 100%;
  height: 40px;

}


/* responsive hakkındda başlangıç*/ 


.test{

 display: grid;
 justify-content: center;
 grid-template-columns: 40% 40%;
grid-template-rows: 900px  800px;
gap: 100px; /* aralarındaki boşluk*/ 
}
.box1{
  background: gray;
  border-radius: 10px;
  border: 1px solid aliceblue
}

.box1:nth-child(3){
  height: 45rem;
}
.box1:nth-child(4){
  height: 45rem;
}

.test p{
  position: center ;
  color: black;
  font-size: 2rem;
  text-align: center;
  margin: 15px; /* yukardan boşluğu  */ 
  padding: 25px; /* */
}
@media (max-width : 1150px){
  .test{
    grid-template-columns: minmax(100px,2fr);
  }
  
}


.box1 h4{
  position: center ;
  color: whitesmoke;
  /*font-size: 1.5rem;*/
  font-size: 150%;
  text-align:  center;
  margin: 15px; /* yukardan boşluğu  */ 
  padding: 20px; /* */
}
.box1 h5{
  position: center ;
  color: whitesmoke;
  /*font-size: 1.4rem;*/
  font-size: 130%;
  text-align: left;
  margin: 15px; /* yukardan boşluğu  */ 
  padding: 10px; /* */
}
.box1 h3{
  position: center ;
  color: whitesmoke;
  /*font-size: 1.2rem;*/
  font-size: 130%;
  line-height:3;

  text-align: left;
  margin: 15px; /* yukardan boşluğu  */ 
  padding: 10px; /* */
}

.box1 a {
  text-decoration: none;
  position: center ;
  color: whitesmoke;
  /*font-size: 1.4rem;*/
  font-size: 120%;
  text-align: center;
  margin: 15px; /* yukardan boşluğu  */ 
  padding: 10px; /* */
}
.box1 a:hover{
  color: aqua;

}
.text-succes{
  height: 100px;
}
.ilksayfapleri{
  position: center center ;
color: rgb(0, 0, 0)  ;
font-size: 330%;
margin-left :30%;

}
#anasayfaresimler {

  border-radius: 5px;   border: 1px solid aliceblue; background-color:  gray;
}


/* responsive hakkındda bitiş*/ 




/* özgeçmiş  */

#Özgeçmişcon  a:hover{
  color: aqua; text-decoration: none;}  

#Özgeçmişcon  a{ color: rgb(28, 28, 28);   text-decoration: none;  }
  body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
#Özgeçmişcon {
  max-width: 1080px;
  margin: 50px auto; /* Üst ve alttan 20 piksel, sağ ve soldan 10 piksel */
  padding: 0 10px;
}
#Özgeçmişcon header {
  background-color: rgb(198, 198, 198) ;
  color: #fff;
  text-align: center;
  padding: 2em 0;
  margin-bottom: 20px;
  border-radius: 20px;

}

#Özgeçmişcon h1 {
  margin: 5px;
  line-height: 250%;
  color: #333;
}
#Özgeçmişcon section {
  background-color: #fff;
  padding: 50px;
  margin-bottom: 10px;
  border-radius: 20px;
}
#Özgeçmişcon h2 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}
#Özgeçmişcon ul {
  list-style: none;
  padding: 0;
}
#Özgeçmişcon li {
  margin-bottom: 10px;
}
#Özgeçmişcon footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  width: 100%;
}
#Özgeçmişcon footer p {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .ozgeçmişresim {
      max-width: 100%; /* Resmin maksimum genişliğini ekran genişliğine orantılı yapar */
      height: auto; /* Resmin orijinal en-boy oranını korur */
  }
}


/* özgeçmiş bitiş */ 





/* sehrim sayfası*/ 
.carousel slide{
  margin-left:100px;

}
.d-block w-100{
  width: 100px;
  height: 100px;
}
ul.b {list-style-type: square;}

.container ul{
  color: rgb(27, 188, 161);
}
.container table{
  color: rgb(131, 225, 209);
  border-collapse: separate;
  border-spacing: 10px; /* Boşluk miktarını istediğiniz gibi ayarlayabilirsiniz */
}

#şehrimcon{
  background-color: gray;
  width: 370px;
  border-radius: 15px;   border: 1px solid aliceblue;
}

#şehrimcon p {
  margin-left: 80px;
  font-size: 250%;
  margin-top: 10px;

}
 #sehrimcontablo{
  background-color: aliceblue;   border-radius: 10px; border: 2px solid rgb(177, 178, 179)
 }



/* sehrim bitiş*/ 

/* mirasımız başlangıç */ 

#mirascontainer{
  background-color:aliceblue;
}
.mirascontainer p {
  margin-left: 45%;
  font-size: 45px;
}
/* */ 


/*form sayfgası başlangıç  */ 

#formconatineer{
  background-color:gray;
  width: 650px;
  border-radius: 20px;   border: 3px solid rgb(255, 255, 255);
}

#formconatineer th{
 color: whitesmoke;
 width: 200px;
}

.formuzunluk{
width:300px;
background-color: rgb(211, 211, 211);
border-radius: 10px;   border: 3px solid rgb(255, 255, 255);

}
.formgönder{
  margin-left: 15%;
  margin-right: 25%;
  margin-bottom: 20px;
  margin-top: 10px;
}

/*form sayfgası bitiş */ 

/* login sayfası başlagıç */ 
#logincontainer {
  background-color: gray;
  width: 800px;
  border-radius: 25px;   border: 3px solid rgb(255, 255, 255);

}
#logincontainer p{
  margin-top: 5px;
  margin-bottom: 18px;
margin-left: 32%;
font-size: 45px;
color: rgb(255, 255, 255);
}
#logincon{
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 200px;
}
#iletişimcon{
  background-color: rgb(255, 255, 255);
 
}
.toast-container {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 9999;
  margin-left: 20px;
}



/* login sayfası bitiş */ 

/* genel bir sayfa üstü */ 

#sayfaüst {
  background-color: gray;
width: 420px;
border-radius: 15px;   border: 1px solid aliceblue;

}
#sayfaüst p{
  margin-left: 100px;
  font-size: 280%;

}
